<Doctype HTML>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>Battery-icon</title>
            <link href="Style.css" rel="stylesheet" type="text/css">
        </head>
        <body>
            <div class="battery-icon" ><div class="battery-level" id="batt">
            </div>
            </div>
            <script>
                var obj=JSON.parse('{"health":"GOOD","percentage":"60%","status":"Charging"}');                
                console.log(obj);
                var percent=obj.percentage;
                var width = document.getElementById("batt");
                width.style.width=percent; 
            </script>
        </body>
    </html>
