{% extends 'layout.html' %}


{% block title %}
    {{title}}
{% endblock title %}


{% block style%}
<style>
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 5px;
  vertical-align: middle;
  width: 100%;
}
img:hover { 
  outline: 6px solid black; 
} 

/* Solve problem where border size changes on hover */
img { 
  border: 1px solid black; 
} 
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
</style> 
{% endblock style%}


{%block content%} 
<div class="row"> 
  {%for i in range(0,length) %}
    <div class="column">
      <img src="{{photos[i]}}" style="width:100%" height="80%">
    </div>
  {% endfor %}
</div>
{% endblock content%}

