{% extends 'layout.html' %}

{% block title %}
    {{title}}
{% endblock title %}


{%block style %}
<style>
	#vd{
		display:block;
		margin-left: auto;
        margin-right: auto;
	}
	p {
		text-align : center;
	}
</style>
{%endblock style %}

{% block content %}
<div>
<video id="vd" width="700px" height="400px" controls src="{{videos[0]}}"> </video>
</div>
<br>
<div>
	<ul id = 'video_loc'>
	</ul>
</div>
</body>
<script type="text/javascript">
	var videos={{video_names|tojson}};
	var sources= {{videos|tojson}};
    for(var i=0;i<videos.length;i++){
        $("#video_loc").append('<div class = "item"><li class="element" id="'+sources[i]+'"><span class="icon"><i class="fas fa-video"></i></span><span class="text_video"><p>'+ videos[i] +'</p></span></li></div>');
    }
    let elements=document.querySelectorAll(".element");
    let v=document.querySelector("#vd");
    for(let j=0;j<elements.length;j++){
        elements[j].addEventListener("click",function(){
        	var x=elements[j].id;
        	v.setAttribute("src",x);
        })
    }

</script>
{% endblock content%}