<!DOCTYPE html>
<html>
<head>
	<title>Videos</title>
	<style>
		#vd{
			display:block;
			margin-left: auto;
            margin-right: auto;
            border:10px ridge #ddd;
		}
		.element{
			font-size:1.5em;
			font-weight:200;
			padding-top: :20px;
			border:2px solid #7171ca;
			background-color: #d9d9f6;
		}
	</style>
	
	
</head>
<body>
<div>
<video id="vd" width="500px" height="350px" controls src="All_Videos\vid_1.mp4" type="video/mp4" >
	
</video>
</div>
<div>
	<ul>
		
	</ul>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script type="text/javascript">
	    
		var videos=['vid_1','vid_2','vid_3','vid_4','vid_5','vid_6','vid_7','vid_8','vid_9'];
		var sources=['All_Videos\\vid_1.mp4','All_Videos\\vid_2.mp4','All_Videos\\vid_3.mp4','All_Videos\\vid_4.mp4','All_Videos\\vid_5.mp4','All_Videos\\vid_6.mp4','All_Videos\\vid_7.mp4','All_Videos\\vid_8.mp4','All_Videos\\vid_9.mp4']
        for(var i=0;i<videos.length;i++){
           $("ul").append('<li class="element" id="'+sources[i]+'">'+ videos[i] +'</li>');
        }
        let elements=document.querySelectorAll(".element");
        let v=document.querySelector("#vd");
        for(let j=0;j<elements.length;j++){
        	elements[j].addEventListener("click",function(){
        		var x=elements[j].id;
        		v.setAttribute("src",x);
        	})
        }

	</script>

</html>